
            /* Estilo para los títulos de sección en la pestaña de Estructura */
            .structure-header {
                font-size: 20px;
                font-weight: bold;
                color: #0b5394;
                margin-top: 15px;
                margin-bottom: 5px;
                border-bottom: 2px solid #0b5394;
                padding-bottom: 5px;
            }
            /* Contenedor principal del grupo */
            .group-container {
                background-color: #e6f7ff;
                padding: 15px;
                border-radius: 8px;
                margin-bottom: 15px;
                border: 1px solid #b3e0ff;
            }
            /* Flechas destacadas */
            .arrow-box {
                text-align: center;
                font-size: 30px;
                color: #4a4a4a;
                margin: 10px 0;
            }
            